* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
/*  BIG SCREEN STYLES  */
nav {
  background-color: rgb(0, 0, 0);
  height: 6.5vh;
  min-height: 60px;
  padding: 0 7vw;
  background-color: rgba(0, 0, 0);
  color: rgba(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

nav .logo {
  font-size: 30px;
  letter-spacing: 6px;
}

.navList {
  font-size: 17px;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  gap: 10px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

.navBtn {
  display: none;
  cursor: pointer;
}

.navBtn div {
  width: 30px;
  height: 2px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transition: all 0.5s ease-in;
}
.Home {
  width: 100%;
  height: 92vh;
  position: relative;
  background-size: 100% 100%;
  background-image: url("/image/mohamed-m-uAmgf8kRvqg-unsplash.jpg");
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: -2;
}
/* RAGHULSHAKTHI */
.RK{
  display: none;
}
.name {
  color: #b8c8fd;
  text-align: center;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 200px;
  margin-bottom: 40px;
  margin-left: 10px;
  font-size: 26px;
  border-right: 1px solid;
  animation: atomrk 10s steps(20) infinite;

}
/* frontend developer */
.fe {
  color: #76b6ff;
  text-align: center;
  margin-top: -320px;
  margin-bottom: 30px;
  margin-left: 50px;
  font-size: 36px;
  animation: skls 2s  infinite;

}
/* download cv  */

.download {
  margin-left: 98vh;
  margin-top: -240px;
}
.btn-link {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  background: #2389ff;
  color: #fff5f5e6;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  margin: 20px auto 2px;
  border-radius: 25px;
  transition: all 0.25s ease-in;
  z-index: 1;
}
.btn-link:hover {
  color: rgb(3, 2, 2);
  background: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.btn-link:hover:after {
  bottom: -5px;
  background: #007bff95;
  opacity: 0.75;
}
img {
  margin: 0px 10px 5px 0px;
  padding: 5px;
}
#social-media {
  margin: 0px 10px 5px 0px;
  padding: auto;
  position: absolute;
  top: 50vh;
  display: flex;
  flex-direction: column;
  right: 40px;
}
/* 2npage */

#about{
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 10;
  margin-top: 10%;
  background-size: 50% 50%;
  background-color: #000000;
  background-repeat: no-repeat;
}
.intro {
  position: absolute;
  top: 150px;
  right: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 110px;
}
.intro h1 {
  font-family: monospace;
  font-size: 50px;
  /* color: rgb(14, 125, 221); */

}
.intro p {
  font-family: cursive;
  color: rgb(105, 186, 240);
  margin-top: 30px;
  font-size: 30px;
}
.about-me{
  color: #2389ff;
  /* animation: aboutme .1s steps(1) infinite; */
}
#skills{
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  margin-top: 55%;
  background-color: #000000;
 
}

.skill{
  margin-top: 0px;
  background-color: #ffffff;
  margin-left: 50px;
  width: 10%;
  height: 100%;
  padding: 0px;
 
}
.skill-2{
  position: absolute;
  right: 30%;
  top: 50px;
  background-color:#ffffff;
  margin-right: 150px;
  width: 10%;
  height: 92%;
  padding-bottom: 0px;
  
 
}
.logo{
  margin-bottom: 50px;
}
.bar-1,.bar-2,.bar-3 {
  margin-bottom: 80px;
}
.bar-a,.bar-b,.bar-c{
  margin-bottom: 130px;
}
.bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 45px;
  left: 350px;
  margin-left: -120px;
}
.bar-m{
  position: absolute;
  right: 6%;
  top: 45px;
}
.sk{
 font-size: 40px;
 text-align: center;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.829);
  font-family:Georgia;
  /* animation: tracking-in-contract-bck 5s infinite; */
}
.progress-bar{
  height: 30px;
  width: 500px;
  border: 1px solid #5132ff;
  border-radius: 200px;
}
/* github */
.progress-bar-8{
  margin-top: 0;
  height: 100%;
  width: 60%;
  background-image: linear-gradient(-45deg,rgba(255,255,2550,0.3),25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,2550,0.3),50%,
  rgba(255,255,2550,0.3),75%,
  transparent 50%,
  transparent 
  
  );
  background-size: 30px 30px;
  background-color: #007bffcb;
  border: 1px solid #000000;
  border-radius: 200px;
  animation: move 2s linear infinite;
  transition: width 2s ease-out;

}
/* HTML */
.progress-bar-1{ 
  margin-top: 0;
  height: 100%;
  width: 85%;
  background-image: linear-gradient(-45deg,rgba(255,255,2550,0.3),25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,2550,0.3),50%,
  rgba(255,255,2550,0.3),75%,
  transparent 50%,
  transparent 
  
  );
  background-size: 30px 30px;
  background-color: #007bffcb;
  border: 1px solid #000000;
  border-radius: 200px;
  animation: move 2s linear infinite;
  transition: width 2s ease-out;

}
/* css */
.progress-bar-2{ 
  margin-top: 0;
  height: 100%;
  width: 80%;
  background-image: linear-gradient(-45deg,rgba(255,255,2550,0.3),25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,2550,0.3),50%,
  rgba(255,255,2550,0.3),75%,
  transparent 50%,
  transparent 
  
  );
  background-size: 30px 30px;
  background-color: #007bffcb;
  border: 1px solid #000000;
  border-radius: 200px;
  animation: move 2s linear infinite;
  transition: width 2s ease-out;

}
/* JAVASCRIPT */
.progress-bar-3{ 
  margin-top: 0;
  height: 100%;
  width: 70%;
  background-image: linear-gradient(-45deg,rgba(255,255,2550,0.3),25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,2550,0.3),50%,
  rgba(255,255,2550,0.3),75%,
  transparent 50%,
  transparent 
  
  );
  background-size: 30px 30px;
  background-color: #007bffcb;
  border: 1px solid #000000;
  border-radius: 200px;
  animation: move 2s linear infinite;
  transition: width 2s ease-out;

}
/* React */
.progress-bar-4{ 
  margin-top: 0;
  height: 100%;
  width: 60%;
  background-image: linear-gradient(-45deg,rgba(255,255,2550,0.3),25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,2550,0.3),50%,
  rgba(255,255,2550,0.3),75%,
  transparent 50%,
  transparent 
  
  );
  background-size: 30px 30px;
  background-color: #007bffcb;
  border: 1px solid #000000;
  border-radius: 200px;
  animation: move 2s linear infinite;
  transition: width 2s ease-out;

}
/* C */
.progress-bar-5{ 
  margin-top: 0;
  height: 100%;
  width: 75%;
  background-image: linear-gradient(-45deg,rgba(255,255,2550,0.3),25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,2550,0.3),50%,
  rgba(255,255,2550,0.3),75%,
  transparent 50%,
  transparent 
  
  );
  background-size: 30px 30px;
  background-color: #007bffcb;
  border: 1px solid #000000;
  border-radius: 200px;
  animation: move 2s linear infinite;
  transition: width 2s ease-out;

}
/* JAVA */
.progress-bar-6{ 
  margin-top: 0;
  height: 100%;
  width: 60%;
  background-image: linear-gradient(-45deg,rgba(255,255,2550,0.3),25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,2550,0.3),50%,
  rgba(255,255,2550,0.3),75%,
  transparent 50%,
  transparent 
  
  );
  background-size: 30px 30px;
  background-color: #007bffcb;
  border: 1px solid #000000;
  border-radius: 200px;
  animation: move 2s linear infinite;
  transition: width 2s ease-out;

}
/* PYTHON */
.progress-bar-7{ 
  margin-top: 0;
  height: 100%;
  width: 70%;
  background-image: linear-gradient(-45deg,rgba(255,255,2550,0.3),25%,
  transparent 25%,
  transparent 50%,
  rgba(255,255,2550,0.3),50%,
  rgba(255,255,2550,0.3),75%,
  transparent 50%,
  transparent 
  
  );
  background-size: 30px 30px;
  background-color: #007bffcb;
  border: 1px solid #000000;
  border-radius: 200px;
  animation: move 2s linear infinite;
  transition: width 2s ease-out;

}

.progress-bar{
  margin-top: 50px;
  margin-left: -10px;
}
.download{
  order: 1;
}
.percentage{
  color: rgb(251, 244, 244);
  position: relative;
  left: 400px;
  top: 5px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.btn{
  background-image: url('image/104490_apple_icon 1.png');
  /* background-color: #2389ff; */
  background-blend-mode: overlay;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 10%;
  position: absolute;
  right: 10%;
  bottom: 50%;
}
/*  */

/* sticky */

#container{
 padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill,200px);
  gap: 24px;
 background-color: #000000;
}
.sticky{
  height: 200px;
  padding: 16px;
  font-size: 20px;
  border-radius: 5px;
  resize: none;
  outline: none;
  border: none;
  box-shadow: 20px 0px 31px -8px rgba(0,0,0,0.62);
-webkit-box-shadow: 20px 0px 31px -8px rgba(0,0,0,0.62);
-moz-box-shadow: 20px 0px 31px -8px rgba(0,0,0,0.62);
}
.btn-add{
  resize: none;
  outline: none;
  font-size: 24px;
  height: 200px;
}
.btn-add:hover{
  background-color: aqua;
}

#projects{
  margin-block-start:1px;
  height: 100%;
  width: 100%;
  background-color: #000000;
}
.card-1{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4,380px);
}
.names{
  left: 220px;
  padding: 100px;
  color: rgb(4, 0, 255);
}
.loading{
text-align: center;
margin-top: -60%;
width: 0ch;
animation: load 3s steps(2) infinite;
}
.names{
  display: contents;
  text-align: center;
}
.cmn{
  margin: 10px;
}
.cmn:hover {
  cursor: context-menu;
}
.names{
  display: none;
}
.cmn:hover > .names{
  display: contents;
  text-align: center;
  display: contents;
  color: #ffffff;
  margin-top: -50%;
}
.clock-1:hover > h2{
  margin-left: 50%;

}
.names{
  background-color: #f20a0a;
  color: #f5f8fc;
}

.projects{
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}
.grid-4{
  margin-top: 90px;
  height: 400px ;
  width: 90vw;
  margin-left: 70px;
  background-color: #007bffcb;
}
.contact{
  width: 100%;
  height: 70vh;
  background-color: #000000;
  display: flex;
  gap: 50px;
}

#footer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

footer {
  background-color: #272727;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: auto;
}

footer li {
  list-style: none;
  margin: 10px;
  display: inline-block;
}

.icons a {
  background: #52527a;
  color: #101010;
  padding: 14px;
  font-size: 20px;
  border-radius: 100%;
  display: flex;
}
.icons a:hover {
  color: #fff9f9;
  transition: 0.5s;
}

.menu a {
  color: #eee6e6;
  text-transform: capitalize;
}
.menu a:hover {
  color: #000000;
  transition: 0.5s;
}

.footer-copyright {
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  text-transform: capitalize;
}

.footer-copyright p {
  margin-bottom: 0px;
}

#certificate{
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

.Left{
  position: relative;
  margin-top: 20%;
  left: 0px;
  margin-left: 20px;
  background-color: #007bff;
}


.Right{
  position: absolute;
  margin-top: 20%;
  margin-right: 20px;
  right:  0px;
  background-color: #007bff;

}
.show-case{
  position: relative;
  top: -400px;
  height: 90%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: 5px solid #007bffce;
  border-radius: 30px;
  background-color: #fffcfc;
  
}
.show-case img{
  object-fit: fill;
}
/* continue here page not navigating need to solve */
/* animation  */
@keyframes atomrk {
  0% {
    width: 0ch;
  }
  50% {
    width: 45ch;
  }
}

 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes load {
  0% {
    width: 0ch;
  }
  50% {
    width: 5ch;
  }
}
@keyframes aboutme {
  50% {
    color: #ff6877;
  }
  100% {
    color: #e3e6e9;
  }
}
@keyframes move {
  0% {
background-position: 0px 0px;
  }
  100% {
    background-position: 30px 30px;
  }
}

/*  SMALL SCREEN STYLES  */
@media screen and (max-width: 768px) {
  /* body::before{
   visibility: hidden;
  } */
  body::after{
   visibility: visible;
   position: absolute;
   top: 50%;
   left:  10%;
   font-size: 50px;
   content: "Only in Desktop View , Mobile view is loading...";
  }
  .logo{
    display: none;
  }
  #home{
    display: none;
  }
  #about{
    display: none;
  }
  #skills{
    display: none;
  }
  #projects{
    display: none;


  }
  #Certifications{
    display: none;
  }
  div , img ,h1 {
    display: none;
  }
  footer{
    display: none;
  }
  #container{
    display: none;
  }
  nav{
    display: none;
  }
}
  /* body{
    height: 100%;
    width: 100%;
  }
 #home{
  height: 100%;
  width: 100%;
 }
 #about{
  display: none;
 }
 #skills{
  display: none;
 }
 #projects{
  display: none;
 }
 .Home{

  background-image: url('image/California-Streaming-Apple-Event-2-iPhone-14-pro-max.jpg');
 }

 .fe{
  margin-top: -100px;
  margin-left: -20px;
 } */
  /* nav {
    padding: 0 30px 0 35px;
  } */

  /* .navList { */
    /* stick navList to window just below navbar  */
    /* position: absolute;
    right: 0px;
    height: 93vh;
    top: clamp(65px, 7vh, 7vh); */
    /* li from row to column few */
    /* flex-direction: column;
    gap: 5vh;
    align-items: center; */
    /* make it a bit pretty :) */
    /* padding: 5vh 15vw;
    background-color: rgba(0, 0, 0);
    font-size: 26px;
    letter-spacing: 1px; */
    /* makes a background a bit blury */
    /* backdrop-filter: blur(5px); */
    /* will move container off the screen temporarly :) */
    /* transform: translate(100%);
    transition: transform 0.5s ease-out;
  } */

  /* .navLi {
    opacity: 0;
    transform: translate(250px, 0);
    color: #b8c8fd;
  } */

  /* .navBtn {
    display: block;
  }
} */

/*  NAVLIST ACTIVATION */
/* .navActive {
  transform: translate(0%);
} */

/* LI ELEMENTS JAZZED UP TRANSFORMATION */
/* .fadeIn {
  opacity: 1;
  /* transform: scale(1); */
  /* transform: translate(0, 0);
} */ 

/* TOGLE CLASSES TO MAKE 3LINE BUTTON INTO X */
/* .navBtnToggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}

.navBtnToggle .line2 {
  transform: scale(0) translate(10px, 0);
}

.navBtnToggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
} */

/* animathion */
/* @keyframes atomrk01 {
  0% {
    width: 0ch;
  }
  100% {
    width: 3ch;
  }
} */